body {
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;

    background-color: #c22d08;
    color: #ac90ec;
}

canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}