@font-face {
    font-family: Inter;
    src: url(fonts/inter-regular.woff2), url(fonts/inter-regular.woff);
}

@font-face {
    font-family: Inter;
    font-weight: 700;
    src: url(fonts/inter-bold.woff2), url(fonts/inter-bold.woff)
}


body {
    font-family: Inter;
    font-size: 24px;
    line-height: 1.5;


    background-color: #ffffff;
    background-image: url(img/bg-oleglaptev.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;


    color: #000000;
}


header {
    position: fixed;
    top: 64px;
    left: 64px;

    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}


footer {
    position: fixed;
    bottom: 64px;
    left: 64px;
}

